/* =========================
   font setup
   ========================= */
@font-face {
  font-family: 'Humane';
  src: url('fonts/1589_Humane_BordeauxW00-It.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

/* =========================
   general web layout: my website layout is mainly based on four colours — pink, green, white, and grey.
   the background is coded as fixed so it stays unchanged throughout the experience.
   ========================= */
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #333333;
  background: linear-gradient(
    to bottom,
    #FFBCE4 0%,
    #FFFFFF 20%,
    #FFFFFF 75%,
    #FFBCE4 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* =========================
   here is the the code i use to display the content of the 13 questions, i aimed to recreat the look of the digital clock 
   so there is a fixed left-side number and the question and answer sections scroll together on the right.
   ========================= */
.scroll-container {
  display: flex;
  align-items: flex-start;
  padding: 0 10%;
}

.static-part {
  position: sticky;
  top: 45vh;
  margin-left: 235px;
  font-family: 'Pixelify', sans-serif;
  font-size: 140px;
  font-weight: 120;
  line-height: 1;
  color: #878787;
}

.dynamic-wrapper {
  margin-left: 10px;
}

.question {
  display: flex;
  align-items: center;
  height: 140vh;
}

.number {
  margin-right: 40px;
  font-family: 'Pixelify', sans-serif;
  font-size: 136px;
  font-weight: 120;
  color: #585858;
}

.content {
  position: relative;
  width: fit-content;
  max-width: fit-content;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content p.question-text {
  position: absolute;
  top: 50%;
  margin: 0;
  font-family: 'Pixelify', sans-serif;
  font-weight: 50;
  font-size: 2rem;
  line-height: 1.2;
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.content p.answer-text {
  width: 570px;
  margin: 0;
  padding: 20px;
  font-family: 'Humane', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #424242;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

/* =========================
   hover interaction: when the user hover over the question text, it will fade out and move up, while the answer text will fade in and become visible.
   ========================= */
.question .content:hover .question-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-70%);
}

.question .content:hover .answer-text {
  opacity: 1;
  visibility: visible;
}

/* =========================
   decorative images: i added some pixelate elements i made in Adobe Illustrator as decorative elements to enhance the visual appeal of the website, as well as match the pixel style of the digital watch since Richard Mille is a watch brand.
   ========================= */
.pixel-cat-overlay {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 250px;
  height: auto;
  image-rendering: pixelated;
  z-index: 3;
  opacity: 1;
  pointer-events: none;
}

.corner-heart {
  position: fixed;
  top: 0;
  left: -3px;
  width: 754px;
  opacity: 0.3;
  z-index: -1000;
  pointer-events: none;
}

.left-below-heart {
  position: fixed;
  left: -1px;
  bottom: 5px;
  width: 200px;
  opacity: 0.3;
  z-index: -1000;
  pointer-events: none;
}

.right-below-heart {
  position: fixed;
  right: 0;
  bottom: 5px;
  width: 200px;
  opacity: 0.3;
  z-index: -1000;
  transform: scaleX(-1);
  pointer-events: none;
}

/* =========================
   decorative clock: i used rotation animation to create a clock running animation. 
the two clocks hands are made using pseudo elements and rotate continuously
but at different speeds. i made one hand faster (10 seconds) and one slower (60 seconds) 
to mimic a real clock motion. 
   ========================= */
.standalone-clock {
  position: fixed;
  top: 20%;
  left: 6%;
  width: 300px;
  height: 300px;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(100, 242, 140, 0.7) 0%,
    rgba(255, 255, 255, 0) 50%,
    transparent 75%
  );
  z-index: 5;
}

.clock-hands {
  position: relative;
  width: 0;
  height: 0;
}

.clock-hands::before,
.clock-hands::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 4px;
}

.clock-hands::before {
  width: 3px;
  height: 70px;
  margin-left: -1.5px;
  margin-top: -70px;
  background-color: #ffc9ef;
  box-shadow: 0 0 8px #f6eef3;
  animation: clockSpin 10s linear infinite;
}

.clock-hands::after {
  width: 4px;
  height: 45px;
  margin-left: -2px;
  margin-top: -45px;
  background-color: #ffffff;
  box-shadow: 0 0 8px #ffffff;
  animation: clockSpin 60s linear infinite;
}

@keyframes clockSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* =========================
   BUTTONS: i made 2 buttons in my website, one is for the AM/PM mode and the other is for the
   music. when the user hover over them, the blackground changes to green indicating that they are interactive.
   ========================= */
.pixel-mode-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: inline-block;
  width: fit-content;
  padding: 10px 18px;
  font-family: 'Pixelify', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #f0f0f0;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.pixel-mode-btn:hover {
  background-color: #c2ffb9;
}

.pixel-music-btn {
  position: fixed;
  top: 20px;
  right: 150px;
  z-index: 100;
  display: inline-block;
  width: fit-content;
  padding: 10px 18px;
  font-family: 'Pixelify', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #f0f0f0;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pixel-music-btn:hover {
  background-color: #c2ffb9;
}

.music-off {
  border: 1px solid #462f2f;
  color: #000000;
}

.music-on {
  border: 1px solid #61ffa3;
  color: #2ecc71;
}
/* =========================
   P.M MODE LAYOUT
   ========================= */

/* during P.M mode, the back ground changes to grey-black gradient*/
body.night-mode {
    background: linear-gradient(
        to bottom,
        #1a1a1a 0%,
        #000000 50%,
        #1a1a1a 100%
    );
    color: #ffa0d9;
}

/* Text color change to pink in p.m mode */
body.night-mode .content p.answer-text {
    color: #ffa0d9;
}

body.night-mode .number {
    color: #9d9b9b;
}

body.night-mode .static-part {
    color: #666666;
}

/* clock glow effect */
body.night-mode .standalone-clock {
    background: radial-gradient(
        circle,
        rgba(255, 236, 253, 0.512) 0%,
        transparent 70%
    );
}
/* =========================
   blob effects
   ========================= */

#blob-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background: transparent;
}
/* =========================
   link to the richard mille original project website
   ========================= */
.rm-link {
  font-family: 'Pixelify', serif;
  font-size: 20px;
  position: fixed;
  top: 600px;
  left: 140px;
  color: #faadda;
  z-index: 9999;
}
