 @font-face {
  font-family: 'Humane';
  src: url('fonts/1589_Humane_BordeauxW00-It.ttf') format('truetype');
  font-weight: normal;
}

 @font-face {
  font-family: 'Pixelify';
  src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

html {
  height: 1100px;
  z-index: -9000;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(
    to bottom,
    #FFBCE4 0%,
    #FFFFFF 20%,
    #FFFFFF 75%,
    #FFBCE4 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.scroll-container {
  display: flex;
  align-items: flex-start; 
  padding: 0 10%;
}

.static-part {
  font-family: 'Pixelify';
  font-size: 140px;
  font-weight: 120px;
  position: sticky;
  margin-left: 240px;
  top: 45vh; /* Giữ số 00 ở vị trí 30% màn hình từ trên xuống */
  line-height: 1;
  color:#8c8b8b;
}

.dynamic-wrapper {
  margin-left: 10px;
}

.question {
  height: 140vh; /* Mỗi mốc thời gian chiếm 1 màn hình */
  display: flex;
  align-items: center;
}

.number {
  font-family: 'Pixelify';
  font-size: 136px;
  font-weight: 120px;
  margin-right: 40px;
 color:#585858
}

.content {
  max-width: 400px;
}

/* Tùy chỉnh cho phần nội dung văn bản */
.content h3 {
  font-family: 'Pixelify', sans-serif;
  font-weight: 50;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 10px;

}

.content p {
  font-family: 'Humane', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #424242;
  line-height: 1.2;
  width: 570px;
  padding: 20px;
  line-height: 1.2;
}
.pixel-cat-overlay {
    position: fixed; /* Giữ chú mèo cố định trên màn hình */
    bottom: 30px;    /* Cách đáy màn hình 30px */
    right: 30px;     /* Cách lề phải màn hình 30px */
    
    width: 400px;    /* Bạn có thể điều chỉnh độ lớn nhỏ ở đây */
    height: auto;
    
    /* Rất quan trọng cho pixel art: giúp ảnh không bị mờ */
    image-rendering: pixelated; 
    
    /* Đảm bảo chú mèo nằm trên cùng */
    z-index: -1000; 
    /* Nếu bạn muốn mèo không cản trở việc click vào các nút bên dưới */
    pointer-events: none; 
    opacity: 50%
}

.corner-heart {
    position: fixed;
    width: 754px;
    opacity: 0.3;
    left: -2px
}